<a class="ico-w-facebook" href="http://www.facebook.com/MrMatt57" alt="facebook"></a>
<a class="ico-w-twitter" href="#http://twitter.com/mrmatt57  alt="twitter"></a>
<a class="ico-w-gplus" href="https://plus.google.com/+MattWalker57" alt="google+"></a>
<a class="ico-w-linkedin" href="http://www.linkedin.com/in/mrmatt" alt="linkedin"></a>
<a class="ico-w-youtube" href="https://www.youtube.com/user/mrmatt57" alt="youtube"></a>
<a class="ico-w-flickr" href="https://www.flickr.com/photos/matt-walker" alt="flickr"></a>